.marquee-wrapper {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    position: relative;
}

.marquee-track {
    display: inline-block;
    will-change: transform;
    animation: scroll linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translate(-50%);
    }
}

.item {
    white-space: nowrap;
  }
  