.bg {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: black;

}

.title{
    color: #fff;
}

.innerText{
    padding: 0vh 10vw;
    color: #c4c4c4;
    margin-top: -3vh;
}

.display{
    height: 100%;
    box-sizing: border-box;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    color: #fff;
}

.inner-name {
    font-family: 'Myfont', MantouSans;
    font-size: 4vh;
    text-align: right;
    margin-top: -3vh;
}

.inner-title {
    text-align: right;
    font-family: 'Myfont', MantouSans;
    margin-top: -4vh;
}

.left-quote {
    font-family: 'Myfont', MantouSans;
    font-size: 4vh;
}

.right-quote {
    font-family: 'Myfont', MantouSans;
    font-size: 4vh;
    text-align: right;
}

.inner-class {padding: 0vh 4vw;}

.bottom-class {
    display: flex;
    flex-direction: row;
    font-family: 'Myfont', MantouSans;
    font-size: 4vh;
    margin-top: auto;
    align-self: flex-start;
    margin-bottom: 5vh;
}

.contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
    margin-top: auto;
    justify-content: space-around;
    
    & > * :hover{
        color: #FD6F00;
        cursor: pointer;
    }
}

a:active{ text-decoration: none; color:inherit; }
a{ text-decoration: none; color:inherit; }